/* sets styling for entire page */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* sets root colors for various stylings that may be repeated */
:root {
  --primary: rgba(158, 247, 238, 0.837);
  --hcolor: rgb(65, 57, 57);
  --dark: rgb(22, 22, 22);
  --light: rgb(190, 208, 248);
  --grey: rgba(199, 199, 199, 0.747);
  --hover: black;
  --hoverborder: red;
  --contact: violet;
}

/* sets styling for body of page; wanted things to wrap down in a column */
body {
    flex-flow: column;
    line-height: 1.5;
}

/* sets margin for all h elements */
h1
h2
h3
h4
h5
h6 {
    margin: 0;
}

/* sets margin for all p elements */
p {
    margin: 0;
}

/* sets styling for the header element */
header {
    background-color: rgb(25, 25, 48);
    margin: 0;
    padding: 15px 6% 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* sets styling for the h1 element inside of the header element */
header h1 {
    background-color: var(--primary);
    color: var(--hcolor);
    display: flex;
    justify-content: flex-start;
    padding: 10px 0% 10px 4%;
    font-size: 3em;
    line-height: 1;
    margin: 0;
}

/* sets styling for the nav element inside of the header element */
header nav {
    display: flex;
    flex-flow: row;
    margin-right: -5rem;
    padding: 25px;
}

/* sets styling for each of the links within the header nav element */
header nav a {
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: var(--primary);
    font-size: 1.5rem;
}

/* sets styling for the links within the header nav element whenever a cursor hovers over them */
header nav a:hover {
    cursor: pointer;
    color: black;
    font-weight: bold;
    background: var(--grey);
    font-variant: small-caps;
    border: 5px solid maroon;
}

/* sets styling for whenever the link is clicked */
header nav a:active {
    color: white;
    background: maroon;
}

/* creates a class of "banner" and sets styling for this section element, including the background image below the header element */
.banner {
    background-image: url(./images/MCD.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    max-height: 30vh;
    padding: 11% 3%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
}

/* sets styling of the article element containing the h2 element */
.banner article {
    flex: 0 0 90%;
}

/* sets styling for the h2 element within the banner class */
.banner h2 {
    background-color: var(--primary);
    color: var(--hcolor);
    margin: 0;
    padding: 1px 10px;
    font-size: 2rem;
    line-height: 1.2;
    display: inline;
}

/* sets the basic styling of all font and background of anything inside the main element */
main {
    background: var(--light);
    color: var(--dark);
}

/* sets styling for each section element inside of the main element */
main section {
    display: flex;
    flex-flow: row;
}

/* sets styling of each h2 within the main section elements */
main section h2 {
    font-size: 3.5rem;
    margin: 1em 1em 1em 1.5em;
    padding-right: 15px;
    text-align: right;
    border-right: 10px solid darkblue;
    flex: 0 0 20%;
    line-height: 1.1;
}

/* creates a class to set up styling for the div element inside of the "about me" section */
.About {
    font-size: 1.3rem;
    display: flex;
    flex-flow: column;
}

/* sets styling for each p element inside of the About class */
.About-p {
    padding: 10px 5px 0 5px;
    margin: 0 0 10px 10px;
}

/* creates class for the embedded link inside the first p element to set styling */
.McDowell {
    text-decoration: none;
    color: purple;
}

/* sets styling for whenever someone hovers their cursor over the embedded link */
.McDowell:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(133, 25, 25);
}

/* sets class for styling for the div inside of the "work" section, representing the list of work */
.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* sets class for styling for each a element inside the div, representing each work item */
.work-item {
    border: 6px solid var(--primary);
    min-height: 200px;
    max-height: 200px;
    background-size: 150%;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode:color-burn;
    color: var(--hcolor);
    background-color: rgb(92, 89, 89);
    transition: all 0.85s;
}

/* sets styling for specifically the first a element inside of the div, as the first a element is the "first child" of the div element */
.work-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

/* sets styling for each figure within each of the work-item classes */
.work-item figure {
    background-color: var(--primary);
    padding: 5px 50px;
    font-size: 150%;
    font-weight: bold;
}

/* sets styling for whenever someone hovers their cursor over each work-item class */
.work-item:hover {
    background-size: 100%;
    background-color: rgb(174, 185, 189);

}

/* sets a class for styling for the first work-item class, which is the prework study guide */
.prework-study-guide {
    background-image: url(./images/Prework\ study\ guide.jpg);
}

/* sets a class for styling for the first work-item class, which is the "LED wall," to be edited later once we complete more projects and challenges */
.led-wall {
    background-image: url(./images/LED\ Wall.jpg);
}

/* sets a class for styling for the first work-item class, which is the "Calculator," to be edited later once we complete more projects and challenges */
.calculator {
    background-image: url(./images/Calculator.jpg);
}

/* sets a class for styling for the first work-item class, which is the "pastel puzzels," to be edited later once we complete more projects and challenges */
.pastel-puzzles {
    background-image: url(./images/Pastel\ Puzzels.jpg);
}

/* sets a class for styling for the first work-item class, which is the Horiseon challenge */
.horiseon {
    background-image: url(./images/Horiseon.jpg);
}

/* creates class for styling for the nav element within the contact-me section */
.details {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

/* sets styling for each a element within the details class */
.details a {
    text-decoration: none;
    padding: 5px;
    color: var(--dark);
    font-size: 1.3rem;
    background-image: linear-gradient(270deg, var(--contact) 0%, var(--contact) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.21em;
    background-position: bottom;
    margin: 89px 1.2rem 5.1rem;
    display: inline-block;
}

/* sets styling for whenever someone hovers their cursor over each a element within the details class */
.details a:hover {
    cursor: pointer;
    font-style: oblique;
    background-size: 100%;
}

/* changes certain styling for any screen sized 1097px or smaller */
@media screen and (max-width: 1097px) {

    header {
        justify-content: center;
        text-align: center;
        padding-right: 0;
    }

    header h1 {
        padding-right: 4%;
        margin-bottom: 10px;
    }

    header nav {
        margin-right: 0;
        flex-wrap: wrap;
    }

    .banner {
        justify-content: center;
        text-align: center;
    }

    main section {
        flex-flow: column;
    }

    main section h2 {
        border-right: none;
        border-bottom: 10px solid darkblue;
        padding-bottom: 10px;
        font-size: 30pt;
        margin-bottom: 10px;
        text-align: center;
    }

    .work-item,
    .work-item:first-child {
        flex-basis: 100%;
    }

    .work-item:first-child {
        min-height: 300px;
    }

    .details {
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    .details a {
        margin: 5px 0 0 0;
        padding: 5px 0 0 0;
    }

}